/***********************
    | | |  Generic   | | |
******************************/
body {
    font-family: "releway", "helvatica Neue", "helvatica", Arial, verdana, sans-serif;
  }
  
  .background_image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .table {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  
  /***********************
      | | |  header   | | |
  ******************************/
  .header_container {
    display: block;
    position: relative;
    height: 327px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
  
  h1.site-title {
    /* color: #fff !important;*/
    margin: 0;
  }
  
  h2.site-description {
    /* color: #fff !important;*/
    font-size: 14px;
    margin-top: 0.4em;
    /* em % fz*/
  }
  
  .nav-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /** navbar **/
  .navbar-sunset {
    border: none;
    min-height: auto;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .navbar-sunset ul {
    float: none !important;
  }
  
  .navbar-sunset li {
    float: none !important;
    display: inline-block;
  }
  
  .navbar-sunset li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
    letter-spacing: 0.05em;
    background: none;
    transition: opacity 320ms, ease;
    -webkit-transition: opacity 320ms, ease;
    -moz-transition: opacity 320ms, ease;
    -ms-transition: opacity 320ms, ease;
    -o-transition: opacity 320ms, ease;
  }
  
  .navbar-sunset li a:hover,
  .navbar-sunset li a:focus,
  .navbar-sunset li a:visited {
    background: none;
    opacity: 1;
  }
  
  .navbar-sunset li a::after {
    content: "";
    position: absolute;
    display: block;
    left: 15px;
    right: 15px;
    height: 2px;
    background: #fff;
    transition: all 320ms ease;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  
  .navbar-sunset li a:hover::after {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  
  /* active page after used walker.php*/
  .navbar-sunset li.active a {
    opacity: 1;
  }
  
  .navbar-sunset li.active a::after {
    content: "";
    position: absolute;
    display: block;
    left: 15px;
    right: 15px;
    height: 2px;
    background: #fff;
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  
  .navbar-sunset li.open a:hover {
    background: none;
  }
  
  .navbar-sunset li.open a:hover,
  .navbar-sunset li.open a:focus,
  .navbar-sunset li.open a:visited {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .navbar-sunset li.open a:hover::after {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  
  ul.dropdown-menu {
    border: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.75) !important;
  }
  
  ul.dropdown-menu li {
    display: block;
  }
  
  ul.dropdown-menu li a:hover,
  ul.dropdown-menu li a:focus,
  ul.dropdown-menu li a:visited {
    background: rgba(0, 0, 0, 0.25) !important;
    color: #fff;
  }
  
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > .active > a:visited {
    background: none !important;
  }
  
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none !important;
    /* background: rgba(0, 0, 0, 0.25) !important; */
    outline: 0;
    background: none;
  }
  