/* pour mieux comprendre ou apprendre voir img/sass.png*/ 

/*
	imports
	------------------------------------------------
*/
/* variables */
@import 'variable.scss';
/* mixins*/
@import 'mixins.scss';
/* placeholder*/
@import 'placeholder.scss';
/* wordpress */
@import 'wordpress.scss';




/***********************************
      | | |  Sidebar    | | |
***********************************/

.sunset-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: #1f1f1f;
    color: #fff;
    height: 100vh;
    /* 100vh give you all the hight with all browser*/
    width: 100%;
    max-width: 280px;
    @include animate(transform, 320ms);

    &.sidebar-closed {
        @include transform(translateX(100%));
    }

    a {
        color: #bababa;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;

}

.sunset-sidebar-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: block;
    padding-top: 10px;

    .sidebar-close {
        position: absolute !important;
        top: 10px !important;
        left: 10px !important;
        color: #fff !important;
        cursor: pointer;

        &:hover {
            color: $orange !important;
        }
    }

    .sidebar-open {
        position: absolute !important;
        top: -251px !important;
        right: 10px !important;
        font-size: 10px;
        color: #fff !important;
        cursor: pointer;

        &:hover {
            color: $orange !important;
        }
    }

    .sidebar-scroll {
        position: relative;
        display: block;
        width: 100% ;
        height: 100% ;
        overflow-x: hidden ;
        overflow-y: scroll ;

    }

}


/* widget sidebar*/
.sunset_username,
.sunset_description {
    color: #fff;
    font-weight: 100;
}

.sunset_username {
    font-size: 24px;
    margin: 0 0 10px;
}

.sunset_description {
    font-size: 13px;
    margin: 0 0 20px;
}

.sunset_sidebar .image_container {
    display: block;
    width: 100%;
    text-align: center;
}

.sunset_sidebar .image_container .profile_container {
    width: 122px !important;
    height: 122px !important;
    border-radius: 50%;
    margin: 10px auto;

}

.sunset-icon-sidebar {
    color: rgb(255, 255, 255);
    margin: 0 2px;

    &:before {
        width: 22px;
        height: 22px;
        font-size: 22px;
    }

    &.sunset-googleplus {
        margin-left: 8px !important;
    }
}

/*widget */
.sunset-widget {
    margin: 30px 0 40px;
    padding: 0 20px;

    h2.sunset-widget-title {
        text-align: center;
        display: block;
        font-size: 15px;
        font-weight: 300;
        background-color: #303030;
        padding: 8px;
        border-radius: 20px;
        line-height: 1em;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.2px;

    }

    .tagcloud {
        a {
            display: inline-block;
            background-color: #7d7d7d;
            padding: 1px 9px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            color: #eee;

        }
    }

    // Categories Widget
    .cat-item 
     {
        position: relative;
        list-style: none;

        a,
        span {
            display: block;
            line-height: 1em;
        }

        a {
            padding: 4px 0;
            margin-left: -24px;
        }

        span {
            position: absolute;
            right: 0;
            top: 2px;
            font-size: 12px;
            font-weight: 600;
            padding: 2px 7px 5px;
            background-color: #7D7D7D;
            border-radius: 10px;
        }

    }

    // recentComment widget 
    .recentcomments    {
        list-style: none;
        font-size: 10px;
        color: #ccc;
        margin-left: -24px;


        a {
            text-transform: uppercase;
        }

        span {

            &,
            & a {

                display: block;
                color: #fff;
                font-size: 14px;
                padding-bottom: 4px;
                margin-bottom: 2px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.06);

            }
        }
    }

    //popular post 
    .media {
        font-size: 14px;
        color: #fff;
        display: block;
        
        .media-body{
            padding-bottom: 10px;
            /* color: red; */
        }  

        .media-comment {
            font-size: 11px;
        }

        a.comments-link {
            padding-left: 35px;
            color: #bababa;
            @include animate(color , 320) ;
            
            &:hover{
                color: #fff;
            }
        }
    
        .sunset-comment {
            padding-left: 5px;
        }
}


}