
/***********************
    | | |  Variables   | | |
******************************/

$font-body :"Raleway", "helvatica Neue", "helvatica", Arial, verdana, sans-serif;
$icon-font : 'icon' ;
$primary-color : #000000 ;
$light-grey : #898989 ;
$dark-grey  : #333333 ;
$lighter-grey : #f5f5f5 ; 
$orange : #ff9414 ;
$orange-hover : #f56b08 ;
